
    {% extends 'base.html' %}

    {% load static %}
    {% block content %}


    <div class="blog blog-home3">
        <div class="owl-carousel owl-loaded owl-drag">
            <!--item1-->
            {% for cat in categoies %}
            <div class="blog-item" style="background-image: url('{{cat.image.url}}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="{% url 'blog:category' cat_name=cat.name %}" class="category-style-2">{{cat.name}}</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">
                                    {{cat.title}} </a>
                            </h3>
                        </div>   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        
    </div>


    {% endblock %}

