    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div class="blog blog-home3 ">
        <div class="owl-carousel">
            <!--item1-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/55.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">Branding</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">
                                    Brand yourself for the career you want, not the job you have </a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

            <!--item2-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/51.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">Marketing</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">Business has only two functions — marketing and innovation.</a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

            <!--item3-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/50.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">interior</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">Being identifiably ‘something’ will help you stand out from the crowd.</a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

            <!--item4-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/43.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">livestyle</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">The way I see it, if you want the rainbow, you gotta put up with the rain</a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

            <!--item5-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/52.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">technology</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">It’s easier to ask Forgiveness than it is to get Permission.</a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>

            <!--item4-->
            <div class="blog-item" style="background-image: url('{% static 'img/blog/48.jpg' %}')">
                <div class="blog-banner">
                    <div class="post-overly">
                        <div class="post-overly-content">
                            <div class="entry-cat">
                                <a href="blog-layout-1.html" class="category-style-2">fashion</a>
                            </div>
                            <h3 class="entry-title">
                                <a href="post-single.html">Life is what happens when you’re busy making other plans</a>
                            </h3>
                            <ul class="entry-meta">
                                <li class="post-author"> <a href="author.html">Meriam Smith</a></li>
                                <li class="post-date"> <span class="line"></span> Fabuary 10 ,2022</li>
                                <li class="post-timeread"> <span class="line"></span> 15 mins read</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
            <!--/-->
        </div>
    </div>
    {% endblock %}

