        {% extends 'base.html'%}
        {% load static %}
        {% block content %}
        {% load humanize %}

        <div class="section-heading " >
            <div class="container-fluid">
                <div class="section-heading-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading-2-title">
                                {% block breadcrumbs %}
                                <h1>Blog</h1>
                                    <p class="links"><a href="{% url 'website:home' %}">Home <i class="las la-angle-right"></i></a> Blog</p>
                                {% endblock %}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    
 
    <!-- blog-layout-5-->
    <section class="blog-layout-5">
        <div class="container-fluid">
            <div class="row">
                <!--conetnt-->
                <div class="col-lg-8 oredoo-content">
                    <div class="theiaStickySidebar">
                         <!--post 1-->
                        {% for post in posts %}
                        <div class="post-list post-list-style5 pt-0">
                            <div class="post-list-content">
                                <img class="img-responsive img-fluid my-4" src="{{post.image.url}}" alt="blog" style="width: 730px; max-height: 430px;">
                                <h4 class="entry-title">
                                    <a href="{% url 'blog:single' pid=post.id %}">{{post.title}} </a>
                                </h4>  
                                <ul class="entry-meta">
                                    <li class="post-author"> <a href="author.html">{{post.author.username}}</a></li>
                                    <li class="entry-cat"> <a href="blog-layout-1.html" class="category-style-1 "> <span class="line"></span>{{post.category.name}}</a></li>
                                    <li class="post-date"> <span class="line"></span> {{post.published_date|naturaltime}}</li>
                                </ul>
                                <div class="post-exerpt">
                                    <p>{{post.content|truncatechars:200}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!--pagination-->
                        <div class="pagination">
                            <div class="pagination-area">
                                <div class="row"> 
                                    <div class="col-lg-12 text-center">
                                        <div class="pagination-list ">
                                            <ul class="list-inline">
                                                {% if posts.has_previous %}
                                                    <li><a href="?page={{posts.previous_page_number}}" ><i class="las la-arrow-left"></i></a></li>
                                                {% endif %}
                                                {% for page in posts.paginator.page_range %}
                                                {% if posts.number == page %}
                                                    <li><a href="?page={{page}}" class="active">{{page}}</a></li>
                                                {% else %}
                                                    <li><a href="?page={{page}}" >{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if posts.has_next %}
                                                    <li><a href="?page={{posts.next_page_number}}" ><i class="las la-arrow-right"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/-->
                    </div>
                </div>

                <!--sidebar-->
                <div class="col-lg-4 oredoo-sidebar">
                    <div class="theiaStickySidebar">
                        <div class="sidebar">
                              <!--categories-->
                            {% include 'blog/categories.html' %}

                            <!--stay connected-->
                            {% include 'blog/stay_connected.html' %}
                            <!--Tags-->
                            {% include 'blog/tags.html' %}
                            <!--popular-posts-->
                            {% include 'blog/popular_posts.html' %}                            
                            <!--Ads-->
                            {% include 'blog/Ads.html'%}
                            <!--/-->
                        </div>
                    </div>
                </div>
                <!--/-->
            </div>
        </div>
    </section>


 
    <!--footer-->
    {% include 'footer.html' %}
    

    <!--Back-to-top-->
    {% include 'send_back.html' %}

    {% endblock %}