{% load humanize %}
<div class="widget">
    <div class="widget-title">
        <h5>recent Posts</h5>
    </div>

    <ul class="widget-popular-posts">
        {% for post in recent_posts %}
        <li class="small-post">
            <div class="small-post-image">
                <a href="{% url 'blog:single' pid=post.id %}">
                    <img src="{{post.image.url}}" alt="">
                </a>
            </div>
            <div class="small-post-content">
                <p>
                    <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                </p>
                <small> <span class="slash"></span> {{post.published_date|naturaltime}}</small>
            
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
