<div class="widget">
    <div class="widget-title">
        <h5>Tags</h5>
    </div>
    <div class="tags">
        <ul class="list-inline">
            <li>
                <a href="#">Travel</a>
            </li>
            <li>
                <a href="#">Nature</a>
            </li>
            <li>
                <a href="#">tips</a>
            </li>
            <li>
                <a href="#">forest</a>
            </li>
            <li>
                <a href="#">beach</a>
            </li>
            <li>
                <a href="#">fashion</a>
            </li>
            <li>
                <a href="#">livestyle</a>
            </li>
            <li>
                <a href="#">healty</a>
            </li>
            <li>
                <a href="#">food</a>
            </li>
            <li>
                <a href="#">interior</a>
            </li>
            <li>
                <a href="#">branding</a>
            </li>
            <li>
                <a href="#">web</a>
            </li>
        </ul>
    </div>
</div>
