{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'img/favicon.png' %}">

    <!-- Title -->
    <title> Oredoo - Personal Blog HTML Template </title>
  
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">

    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
    <!--loading -->
    <div class="loader">
        <div class="loader-element"></div>
    </div>

    <!-- Header-->
    <header class="header navbar-expand-lg fixed-top ">
        <div class="container-wrap ">

            <div class="header-area header-padding">
                
                <!--logo-->
                <div class="logo">

                    <a href="{% url 'website:home' %}">

                        <img src="{% static 'img/logo/logo-dark.png' %}" alt="" class="logo-dark">

                        <img src="{% static 'img/logo/logo-white.png' %}" alt="" class="logo-white">

                    </a>
 
                </div>
                <!--/-->
                <div class="header-navbar">
                    <nav class="navbar">

                        <!--navbar-collapse-->
                        <div class="collapse navbar-collapse" id="main_nav">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'website:home' %}"> Home </a>
                                </li>
                
                        
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog:home' %}"> Blog </a>
                                </li>
                
                            
                            
                                <li class="nav-item dropdown">
                                    <a class="nav-link  dropdown-toggle " href="#" data-toggle="dropdown"> shop </a>
                                    <ul class="dropdown-menu fade-up">
                                        <li>
                                            <a class="dropdown-item " href="shop.html">shop list </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="shop-single.html">shop single</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="cart.html">cart</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="checkout.html">checkout</a>
                                        </li>
                                    
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'website:contact' %}"> Contact Us </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'website:about' %}"> About Us </a>
                                </li>
                            </ul>
                        </div>
                        <!--/-->
                    </nav>
                </div>

                <!--header-right-->
                <div class="header-right ">
 

                    <!--thele-switch-->
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <span class="slider round ">
                                <i class="lar la-sun icon-light"></i>
                                <i class="lar la-moon icon-dark"></i>
                            </span>
                        </label>
                    </div>


                    <!--search-icon-->
                    <div class="search-icon">
                        <i class="las la-search"></i>
                    </div>
                    {% for message in messages %}
                    <div class="p-0 mas_alert">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    </div>
                    {% endfor %}

                    <!--navbar-toggler-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div> 
    </header>
    {% block content %}
    {% endblock %}
     <!--Search-form-->
     <div class="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-10 m-auto">
                    <div class="search-width">
                        <button type="button" class="close">
                            <i class="far fa-times"></i>
                        </button>
                        <form method="get" class="search-form" action="{% url 'blog:search' %}">
                            <input type="search" name="s" placeholder="What are you looking for?">
                            <button type="submit" class="search-btn"> search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins  -->
    <script  src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
    <script src="{% static 'js/ajax-contact.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/switch.js' %}"></script>
    <script src="{% static 'js/jquery.marquee.js' %}"></script>
    
    <!-- JS main  -->
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>